
<!--  start page-heading -->
<div id="page-heading">
  <h1>Forward Configuration</h1>
  <!--  start actions-box ............................................... -->
  <div id="actions-box">
    <a class="action-slider" href=""></a>
    <div id="actions-box-slider" clasS="clearfixAfter">
      <a class="action-edit" ng-click="showAddSessionDialog()" href="">Add&nbsp;Session</a>
      <a class="action-edit" ng-click="showAddForwardDialog()" href="">Add&nbsp;Forward</a>
      <a class="action-edit" ng-click="saveConfiguration()" href="">Save&nbsp;Changes</a>
    </div>
  </div>
  <!-- end actions-box........... -->
</div>
<!-- end page-heading -->

<table width="100%" cellspacing="0" cellpadding="0" border="0"
  id="content-table">
  <tbody>
    <tr>
      <th class="sized" rowspan="3"><img width="20" height="300"
        alt="" src="images/shared/side_shadowleft.jpg"></th>
      <th class="topleft"></th>
      <td id="tbl-border-top">&nbsp;</td>
      <th class="topright"></th>
      <th class="sized" rowspan="3"><img width="20" height="300"
        alt="" src="images/shared/side_shadowright.jpg"></th>
    </tr>
    <tr>
      <td id="tbl-border-left"></td>
      <td>
        <!--  start content-table-inner ...................................................................... START -->
        <div id="content-table-inner">

          <!--  start table-content  -->
          <div id="table-content">

            <!--  start product-table ..................................................................................... -->
            <form action="" id="mainform">
              <div ng-repeat="client in config.SshSession">
                <h2>Session: {{client['name']}} -
                  {{client['description']}}                         <a class="icon icon-edit" title="edit" ng-click="showEditSessionDialog(client)" href=""></a>
                        <a class="icon icon-delete" title="delete" ng-click="deleteSession(client)" href=""></a>
                  </h2>
                <table width="100%" cellspacing="0" cellpadding="0"
                  border="0" id="product-table">
                  <tbody>
                    <tr>
                      <th
                        class="table-header-repeat line-left minwidth-1"><a
                        href="">Source-Host</a></th>
                      <th
                        class="table-header-repeat line-left minwidth-1"><a
                        href="">Source-Port</a></th>
                      <th class="table-header-repeat line-left"><a
                        href="">via</a></th>
                      <th class="table-header-repeat line-left"><a
                        href="">Remote-Host</a></th>
                      <th class="table-header-repeat line-left"><a
                        href="">Remote-Port</a></th>
                      <th class="table-header-repeat line-left"><a
                        href="">Type</a></th>
                      <th class="table-header-repeat line-left"><a
                        href="">Description</a></th>
                      <th class="table-header-repeat"><a href="">Actions</a></th>
                    </tr>
                    <tr ng-repeat="forward in client.Forward">
                      <td>{{getSourceHost(config, forward)}}</td>
                      <td>{{forward['sPort']}}</td>
                      <td>{{forward.connection.name}}</td>
                      <td>{{getRemoteHost(config, forward)}}</td>
                      <td>{{forward['rPort']}}</td>
                      <td>{{forward['type']}}</td>
                      <td>{{forward['description']}}</td>
                      <td>
                        <a class="icon icon-edit" title="edit" ng-click="showEditForwardDialog(forward)" href=""></a>
                        <a class="icon icon-delete" title="delete" ng-click="deleteForward(forward)" href=""></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--  end product-table................................... -->
              </div>
            </form>
          </div>
          <!--  end content-table  -->



          <div class="clear"></div>

        </div> <!--  end content-table-inner ............................................END  -->
      </td>
      <td id="tbl-border-right"></td>
    </tr>
    <tr>
      <th class="sized bottomleft"></th>
      <td id="tbl-border-bottom">&nbsp;</td>
      <th class="sized bottomright"></th>
    </tr>
  </tbody>
</table>
<div class="clear">&nbsp;</div>

<!-- begin: Add session Dialog -->
<div id="AddSessionDialog" class="dialog" title="Add new session">

  <div class="dialogMessageArea">
      <ul class="info" ng-show="infoMessages.length>0">
         <li ng-repeat="msg in infoMessages">{{msg}}</li>
      </ul>
  </div>
  
  <form name="AddSessionForm">
    <fieldset>
      <label for="name">Name:</label>
      <input type="text" required ng-model="configSession.name" name="name" value="" />

      <label for="description">Description:</label>
      <input type="text" ng-model="configSession.description" name="description" value="" />
      
      <label for="enabled">Enabled:</label>
      <input type="checkbox" ng-model="configSession.enabled" name="enabled" value="" />

    </fieldset>
    
  </form>
</div>
<!-- end: Add session Dialog -->

<!-- begin: Edit session Dialog -->
<div id="EditSessionDialog" class="dialog" title="Edit session">

  <div class="dialogMessageArea">
      <ul class="info" ng-show="infoMessages.length>0">
         <li ng-repeat="msg in infoMessages">{{msg}}</li>
      </ul>
  </div>
  
  <form name="EditSessionForm">
    <fieldset>
      <label for="name">Name:</label>
      <input type="text" required ng-model="configSession.name" name="name" value="" />

      <label for="description">Description:</label>
      <input type="text" ng-model="configSession.description" name="description" value="" />
      
      <label for="enabled">Enabled:</label>
      <input type="checkbox" ng-model="configSession.enabled" name="enabled" value="" />

    </fieldset>
    
  </form>
</div>
<!-- end: Edit session Dialog -->

<!-- begin: Add forward Dialog -->
<div id="AddForwardDialog" class="dialog" title="Add new forward">

  <div class="dialogMessageArea">
      <ul class="info" ng-show="infoMessages.length>0">
         <li ng-repeat="msg in infoMessages">{{msg}}</li>
      </ul>
  </div>
  
  <form name="AddForwardForm">
    <fieldset>
      <label for="clientId">Session:</label>
      <select ng-model="configForward.session" name="clientId" ng-options="c['name'] for c in config.SshSession" ></select>
       
      <label for="connection">Connection:</label>
      <select ng-model="configForward.connection" name="connection" ng-options="c['name'] for c in config.Connection" ></select>
       
      <label for="description">Description:</label>
      <input type="text" required ng-model="configForward.description" name="description" value="" />
      
      <label for="enabled">Enabled:</label>
      <input type="checkbox" ng-model="configForward.enabled" name="enabled" value="" />
      
      <label for="type">Type:</label>
      <select required ng-model="configForward.type" id="type">
        <option value="L">Local</option>
        <option value="R">Remote</option>
      </select>
      
      <label for="sourceHost">Source-Host:</label>
      <input type="text" ng-model="configForward.sHost" name="sourceHost" value="" />
      
      <label for="sourcePort">Source-Port:</label>
      <input type="number" required min="1" max="65535" ng-model="configForward.sPort" name="sourcePort" value="" />
      
      <label for="remoteHost">Remote-Host:</label>
      <input type="text" required ng-model="configForward.rHost" name="remoteHost" value="" />
      
      <label for="remotePort">Remote-Port:</label>
      <input type="number" required min="1" max="65535" ng-model="configForward.rPort" name="remotePort" value="" />
      
    </fieldset>
    
  </form>
</div>
<!-- end: Add forward Dialog -->

<!-- begin: Edit forward Dialog -->
<div id="EditForwardDialog" class="dialog" title="Edit forward">

  <div class="dialogMessageArea">
      <ul class="info" ng-show="infoMessages.length>0">
         <li ng-repeat="msg in infoMessages">{{msg}}</li>
      </ul>
  </div>
  
  <form name="EditForwardForm">
    <fieldset>
      <label for="connection">Connection:</label>
      <select ng-model="editForward.connection" name="connection" ng-options="c['name'] for c in config.Connection" ></select>
       
      <label for="description">Description:</label>
      <input type="text" required ng-model="editForward.description" name="description" value="" />
      
      <label for="enabled">Enabled:</label>
      <input type="checkbox" ng-model="editForward.enabled" name="enabled" value="" />
      
      <label for="type">Type:</label>
      <select required ng-model="editForward.type" id="type">
        <option value="L">Local</option>
        <option value="R">Remote</option>
      </select>
      
      <label for="sourceHost">Source-Host:</label>
      <input type="text" ng-model="editForward.sHost" name="sourceHost" value="" />
      
      <label for="sourcePort">Source-Port:</label>
      <input type="number" required min="1" max="65535" ng-model="editForward.sPort" name="sourcePort" value="" />
      
      <label for="remoteHost">Remote-Host:</label>
      <input type="text" required ng-model="editForward.rHost" name="remoteHost" value="" />
      
      <label for="remotePort">Remote-Port:</label>
      <input type="number" required min="1" max="65535" ng-model="editForward.rPort" name="remotePort" value="" />

      <label for="IpMask">IP:</label>
      <input type="text" ng-model="IpMask" name="IpMask" value="" /><button style="float:left;margin-left:5px;" ng-click="addIpMask(IpMask)">add</button>

      <label for="IpMask">IP Filter:</label>
      <select ng-model="editForward.filter" id="type" multiple="multiple" ng-options="c for c in editForwardFilter">
      </select><button style="float:left;margin-left:5px;" ng-click="removeIpMask(IpMask)">remove</button>
      
    </fieldset>
    
  </form>
</div>
<!-- end: Edit forward Dialog -->

<script>
  $(".action-slider").click(function() {
    $("#actions-box-slider").slideToggle("fast");
    $(this).toggleClass("activated");
    return false;
  });
</script>
