
<!--  start page-heading -->
<div id="page-heading">
  <h1>Forwards by Session</h1>
  
  <!--  start actions-box ............................................... -->
  <div id="actions-box">
    <a class="action-slider" href=""></a>
    <div id="actions-box-slider">
      <a class="action-edit" ng-click="stopSshClients()" href="">Stop</a>
      <a class="action-delete" ng-click="startSshClients()"
        href="">Start</a>
    </div>
  </div>
  <!-- end actions-box........... -->
</div>
<!-- end page-heading -->



<table width="100%" cellspacing="0" cellpadding="0" border="0"
  id="content-table">
  <tbody>
    <tr>
      <th class="sized" rowspan="3"><img width="20" height="300"
        alt="" src="images/shared/side_shadowleft.jpg"></th>
      <th class="topleft"></th>
      <td id="tbl-border-top">&nbsp;</td>
      <th class="topright"></th>
      <th class="sized" rowspan="3"><img width="20" height="300"
        alt="" src="images/shared/side_shadowright.jpg"></th>
    </tr>
    <tr>
      <td id="tbl-border-left"></td>
      <td>
        <!--  start content-table-inner ...................................................................... START -->
        <div id="content-table-inner">

          <!--  start table-content  -->
          <div id="table-content">

            <!--  start product-table ..................................................................................... -->
            <form action="" id="mainform">
              <div ng-repeat="client in config.SshClient">
                <h2>Session: {{client['name']}} -
                  {{client['description']}}</h2>
                <table width="100%" cellspacing="0" cellpadding="0"
                  border="0" id="product-table">
                  <tbody>
                    <tr>
                      <th class="table-header-check"></th>
                      <th
                        class="table-header-repeat line-left minwidth-1"><a
                        href="">Source-Host</a></th>
                      <th
                        class="table-header-repeat line-left minwidth-1"><a
                        href="">Source-Port</a></th>
                      <th class="table-header-repeat line-left"><a
                        href="">Remote-Host</a></th>
                      <th class="table-header-repeat line-left"><a
                        href="">Remote-Port</a></th>
                      <th class="table-header-repeat line-left"><a
                        href="">Type</a></th>
                      <th class="table-header-repeat line-left"><a
                        href="">Description</a></th>
                    </tr>
                    <tr ng-repeat="forward in client.Forward">
                      <td><span
                        class="status-symbol {{forwardStatus[forward['id']]}}"
                        title="{{forwardStatus[forward['id']]}}"></span></td>
                      <td>{{forward['sHost']}}</td>
                      <td>{{forward['sPort']}}</td>
                      <td>{{forward['rHost']}}</td>
                      <td>{{forward['rPort']}}</td>
                      <td>{{forward['type']}}</td>
                      <td>{{forward['description']}}</td>

                    </tr>
                  </tbody>
                </table>
                <!--  end product-table................................... -->
              </div>
            </form>
          </div>
          <!--  end content-table  -->

          <div class="clear"></div>

        </div> <!--  end content-table-inner ............................................END  -->
      </td>
      <td id="tbl-border-right"></td>
    </tr>
    <tr>
      <th class="sized bottomleft"></th>
      <td id="tbl-border-bottom">&nbsp;</td>
      <th class="sized bottomright"></th>
    </tr>
  </tbody>
</table>
<div class="clear">&nbsp;</div>

</div>

<script>
	$(".action-slider").click(function() {
		$("#actions-box-slider").slideToggle("fast");
		$(this).toggleClass("activated");
		return false;
	});
</script>
